@using DoctorOffline.Entity;
@using DoctorOffline.Models;
@model MuluModel
@{
    ViewData["Title"] = "目录列表";
    string name = ViewData["name"] == null ? "null" : ViewData["name"].ToString();
    List<OnlineMulu> ml = (List<OnlineMulu>)ViewData["mulus"];
    String html = (String)ViewData["html"];
}
<link href="~/css/jquery.treeview.css" rel="stylesheet" />
<link href="~/css/screen.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="~/js/jquery.cookie.js"></script>
<script src="~/js/jquery.treeview.js"></script>
<script src="~/js/jquery.treeview.edit.js"></script>
<hl>目录列表:</hl>
<br />
<br />
<br />
<br />

<div style="width:300px; height:auto; float:left; display:inline">
    <ul id="tree" class="filetree">
        @Html.Raw(html)
    </ul>
    <br />
    <form asp-controller="Mulu" asp-action="AddMulu" method="post">
        <input asp-for="MuluName" />
        <input asp-for="Level" type="hidden" />
        <input asp-for="ParentId" type="hidden" />
        <button type="submit">添加</button>
    </form>
</div>
<div style="width:600px; height:auto; float:left; display:inline">
    
</div>

<script type="text/javascript">
    $("#tree").treeview({ collapsed: true });
    function AddClick(muluId, level, name) {
        var iMuluId = parseInt(muluId);
        var iLevel = parseInt(level) + 1
        $("#ParentId").val(iMuluId);
        $("#Level").val(iLevel);
        $(".folder").removeClass("selectedColor");
        $("#" + muluId).addClass("selectedColor");
    }
</script>
