@using DoctorOffline.Entity;
@using DoctorOffline.Models;
@model MuluModel
@{
    ViewData["Title"] = "目录列表";
    string name = ViewData["name"] == null ? "null" : ViewData["name"].ToString();
    List<OnlineMulu> ml = (List<OnlineMulu>)ViewData["mulus"];
    String html = (String)ViewData["html"];
}
<link href="~/css/jquery.treeview.css" rel="stylesheet" />
<link href="~/css/screen.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="~/js/jquery.cookie.js"></script>
<script src="~/js/jquery.treeview.js"></script>
<script src="~/js/jquery.treeview.edit.js"></script>
<hl>目录列表:</hl>
<br />
<br />
<br />
<br />

<div style="width:300px; height:auto; float:left; display:inline">
    <ul id="tree" class="filetree">
        @Html.Raw(html)
    </ul>
    <br />
    <form asp-controller="Mulu" asp-action="AddMulu" method="post">
        <input asp-for="MuluName" />
        <input asp-for="Level" type="hidden" />
        <input asp-for="ParentId" type="hidden" />
        <button type="submit">添加</button>
    </form>
</div>
<div style="width:600px; height:auto; float:left; display:inline">

    <ul>
        <li>120ask:<input type="text" id="ask120Relation" /></li>
        <li>fh:<input type="text" id="fhRelation" /></li>
        <li>JJ:<input type="text" id="JJRelation" /></li>
        <li>JK:<input type="text" id="JKRelation" /></li>
        <li>SJ:<input type="text" id="SJRelation" /></li>
        <button onclick="saveRelation()">保存</button>
    </ul>

</div>
<input type="hidden" id="currentMuluId" />
<script type="text/javascript">
    $("#tree").treeview({ collapsed: true });
    function AddClick(muluId, level, name) {
        var iMuluId = parseInt(muluId);
        var iLevel = parseInt(level) + 1
        $("#ParentId").val(iMuluId);
        $("#Level").val(iLevel);
        $(".folder").removeClass("selectedColor");
        $("#" + muluId).addClass("selectedColor");
        $("#currentMuluId").val(iMuluId);
        initRelation(muluId);
    }
    function initRelation(currentMuluId) {
        $.ajax({
            url: "/Mulu/GetRelation",
            type: "GET",
            dataType: "json",
            data: { onlineMulu : currentMuluId},
            success: function (data) {
                $("#ask120Relation").val(data.ask120Relation);
                $("#fhRelation").val(data.fhRelation);

                $("#JJRelation").val(data.JJRelation);
                $("#JKRelation").val(data.JKRelation);
                $("#SJRelation").val(data.SJRelation);
            }
        })
    }
    function saveRelation() {
        var ask120Relation = $("#ask120Relation").val();
        var fhRelation = $("#fhRelation").val();

        var JJRelation = $("#JJRelation").val();
        var JKRelation = $("#JKRelation").val();
        var SJRelation = $("#SJRelation").val();
        var currentMuluid = $("#currentMuluId").val();
        $.ajax({
            url: "/Mulu/EditRelation",
            type: "GET",
            dataType: "json",
            data: {
                currentMuluId: currentMuluid,
                ask120Relation: ask120Relation,
                fhRelation: fhRelation,
                JJRelation: JJRelation,
                JKRelation: JKRelation,
                SJRelation: SJRelation
            },
            success: function (data) {
                alert(data);
            }
        })
    }
</script>
